*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.glsdefs
*.lol
FabianSchaer-2016-VirtualReality.pdf
FabianSchaer-2017-VirtualReality.pdf
.DS_Store
/Scripts/*